# Build and Bins
.gradle/
bin/
build/
run/*

# IDEs
.settings/
.classpath
.project

# Launching
runClient.launch
runData.launch
runGameTestServer.launch
runServer.launch

# Misc
framework-0.4.2-1.19.2.jar
ShoulderSurfing-Forge-1.19.2-3.2.0-c83950e.jar
SourceTree.lnk
